.full-width-table {
  width: 100%;
  white-space: pre-wrap;
}

.small-cell {
  font-size: xx-small;
}

.mat-icon {
  font-size: 0.9em;
}

a:link {
  color: #ccccee;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ddddff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: #ccccee;
  background-color: transparent;
  text-decoration: underline;
}

